/Screenshots/
/target/
/allure-results/
/allure-report/
/extent-reports/
/test-output/
/reports/
/generatedReport_*.zip
/generatedReport/
/generate_allure_report.sh
/allure-results.zip
/generate_allure_report.bat
.DS_Store
/.idea/*
/.git/*
*.iml
ajcore*.txt
debug.log
/.classpath
/.project
/bin/
/generateJdk.bat
/generateJdk.sh
*.log
/.settings/
.metadata/.lock
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
*/generate_allure_report.sh
*/generate_allure_report.bat
/*/allure-results/
/*/extent-reports/
/.idea/
